* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


html {
  overflow-x: hidden;
}

body {
    height: 100%;
    background: #e0cdcb;
}


:root {
    --main-color: #f8e681;
    --secondary-color: #1b1b1b;
}

@font-face {
    font-family: "certhas";
    src: url("../assets/Certhas.otf")
}

@font-face {
    font-family: "orgonite";
    src: url("../assets/stone\ orgonite.woff")
}

@font-face {
    font-family: "avocado";
    src: url("../assets/avocado.ttf")
}

.landingPage {
    min-height: 100vh;
    color: black;
    background: #e0cdcb;
}

.landingPage a h1 {
    margin-top: 25vh;
    font-family: "certhas";
    font-weight: lighter;
    font-size: 3.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.379);
    text-align: center;
    padding: 5%;
}

.landingPage a {
    text-decoration: none;
    color: #1b1b1b;
}

.signature:hover {
  -webkit-animation: signature 3s ease-in-out infinite both;
  animation: signature 3s ease-in-out infinite both;
}

@-webkit-keyframes signature {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes signature {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


h2 {
    font-size: 2.5rem;
    line-height: 125%;
    padding: 1rem 0rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 125%;
}


.hey {
    color: #e0cdcb;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    color: #1b1b1b;
    padding: 2%;
}

nav svg {
    cursor: pointer;
    color: #1b1b1b;
    z-index: 10;
    margin-right: 1rem;
}

.links {
  position: absolute;
  background: white;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: translateX(100%);
}


.links a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 2rem;
  font-family: "orgonite";
}

.line {
  color: #0e0f02;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin-left: 0.8rem; 
    font-family: "certhas";
    font-weight: lighter;
    font-size: 1.2rem;
    color: black;
}

.logo img {
    width: 5.5rem;
}

.front-page {
    min-height: 100vh;
    color: white;
    background: rgb(66, 66, 66);
}

.selling-point {
    margin-top: 25vh;
    font-family: "orgonite";
    text-shadow: 0px 4px 12px black;
    text-align: center;
    padding: 5%;
}

.selling-point h3 {
    font-family: sans-serif;
    line-height: 140%;
}

.ctas {
    margin-top: 2rem;
}

.ctas button {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.216);
}

.cta-main {
    background-color: #e0cdcb;
    color: #0e0f02;
    font-family: "certhas";
    font-weight: lighter;
    cursor: pointer;
}

.cta-sec {
    background-color: #0e0f02;
    color: #e0cdcb;
    font-family: "certhas";
    cursor: pointer;
}

.classes {
    padding-top: 25vh;
    background-color: #e0cdcb;
    color: var(--secondary-color);
    text-align: center;
    font-family: "orgonite";
}

video {
    width: 100%;
    height: 75vh;
    border-radius: 1.5rem;
    margin-top: 1rem;
    padding: 5%;
    object-fit: cover;
}

.videos {
    /* margin: 5% 20%; */
    padding:5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
}

.backimg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.apirestful,
.mangaapp,
.dictionaryapp,
.movieapp {
    position: relative;
}

.videos h4 {
    font-size: 1rem;
    width: 100%;
    left: 50%;
    font-family: "avocado";
    color: rgb(66, 66, 66)
    /* transform: translate(-50%, -10%);
    padding-top: 300px; */
}

/* .videos h4:hover {
    position: absolute;
    transform: translate(-50%);
    background: #e0cdcb95;
    background: #e0cdcb(0, 0, 0, 0.5);
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 125%;
    color: #060620;
    font-family: "avocado";
    text-shadow: 0px 4px 12px black;
    height: 45%;
    width: 90%;
    bottom: 2.7%;
    border-radius: 0.7rem;
    padding: 5%;
    object-fit: cover;
} */

.myStack {
    padding-top: 25vh;
    font-family: "orgonite";
    text-align: center;
    background: rgb(66, 66, 66);
    min-height: 10vh;
}

.stack {
    color: #e0cdcb;
}

.technologies {
    font-size: 1.25rem;
    line-height: 125%;
    font-family: "avocado";
    color: white;
}


@-webkit-keyframes grid-item {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes grid-item{
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  

.grid-item {
    width: 90px;
    height: 90px;
    text-align: center;
    margin: 10px;
    padding: 5px;
    -webkit-animation: grid-item 4s ease-in-out infinite ;
	        animation: grid-item 4s ease-in-out infinite ;
}

footer {
    text-align: center;
    background-color: whitesmoke;
    color: #1b1b1b;
    padding: 2%;
    font-family: "certhas";
    font-weight: lighter;
    font-size: 1rem;
}
  
.links-resume  {
    text-align: center;
    font-family: "avocado";
}

.contact {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    margin:2%;
}

.presentation {
    font-size: 2rem;
    text-align: center;
    padding:5%;
    font-family: "certhas";
    font-weight: lighter;
    color: #0e0f0282;
}

.resume {
    text-align: center;
    margin-top: 10%;
    font-family: "avocado";
}

.experience {
    font-size: 1.2rem;
    margin: 5px;
    margin-bottom: 10vh;
    padding: 20px;
}

.education {
    font-size: 1.2rem;
    margin: 5px;
    height: 100vh;
    padding: 20px;
}

.categories {
    color:#4d3a38;
    font-size: 2rem;
    line-height: 125%;
    padding:15px;
}

.heading {
    padding-top: 15px;
}

@media screen and (max-width: 768px) {

  video {
    width: 45%;
    height: 30vh;
    border-radius: 1.5rem;
    margin-top: 1rem;
    padding: 5%;
    object-fit: cover;
}

}