* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* html {
  scroll-behavior: smooth;
} */

body {
    height: 100%;
    background: #f4e4e1;
    overflow-x: hidden;
}


:root {
    --main-color: #f8e681;
    --secondary-color: #1b1b1b;
}

@font-face {
    font-family: "certhas";
    src: url("../assets/Certhas.otf")
}

@font-face {
    font-family: "orgonite";
    src: url("../assets/stone\ orgonite.woff")
}

@font-face {
    font-family: "avocado";
    src: url("../assets/avocado.ttf")
}

.landingPage {
    min-height: 30vh;
    color: black;
}

.landingPage2 {
  min-height: 45vh;
  background: black;
  box-shadow: 0px 4px 4px rgb(255, 255, 255)

}

.jobdescription{
  font-family: "certhas";
  font-weight: lighter;
  font-size: 1.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.379);
  text-align: center;
  padding-left: 300px;
}

.landingPage a h1 {
    margin-top: 25vh;
    font-family: "certhas";
    font-weight: lighter;
    font-size: 3.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.379);
    text-align: center;
}

.landingPage a {
    text-decoration: none;
    color: #1b1b1b;
    background-color: #afa3a1;
}

.signature:hover {
  -webkit-animation: signature 3s ease-in-out infinite both;
  animation: signature 3s ease-in-out infinite both;
}

@-webkit-keyframes signature {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes signature {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


h2 {
    font-size: 2.5rem;
    line-height: 125%;
    padding: 1rem 0rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 125%;
}

.hey {
    color: #e0cdcb;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    color: #1b1b1b;
    padding: 2%;
}

nav svg {
    cursor: pointer;
    color: #1b1b1b;
    z-index: 10;
    margin-right: 1rem;
}

.links {
  position: absolute;
  background: white;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: translateX(100%);
  
}


.links a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 2rem;
  font-family: "orgonite";
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin-left: 1.5rem; 
    font-family: "certhas";
    font-weight: lighter;
    font-size: 1.2rem;
    color: black;
}

.logo img {
    margin-left: 1.5rem;
    width: 4.5rem;
}

.front-page {
    min-height: 100vh;
    color: white;
    background: rgb(66, 66, 66);
}

.selling-point {
    margin-top: 10vh;
    font-family: "orgonite";
    text-shadow: 0px 4px 12px black;
    text-align: center;
    padding: 5%;
}

.profilepic{
    width:15%;
}


.selling-point h3 {
    font-family: "avocado";
    line-height: 140%;
    padding-left: 15%;
    padding-right: 15%;
}

.ctas {
    margin-top: 2rem;
}

.ctas button {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.216);
}

.cta-main {
    background-color: #e0cdcb;
    padding: 20px;
    color: #0e0f02;
    font-family: "certhas";
    font-weight: lighter;
}

.cta-sec {
    background-color: #0e0f02;
    padding: 20px;
    color: #e0cdcb;
    font-family: "certhas";
}

.classes {
    padding-top: 10vh;
    background-color: #afa3a1;
    color: var(--secondary-color);
    text-align: center;
    align-items: center;
    font-family: "orgonite";
}

video {
    width: 100%;
    height: 50vh;
    border-radius: 1.5rem;
    margin-top: 1rem;
    padding: 5%;
    object-fit: cover;
}

.videos {
    /* margin: 5% 20%; */
    padding:5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-column-gap: 5rem;
    grid-row-gap: 2rem;
    flex-wrap: wrap;
}

#carouselExampleControls {
    width:50%;
    text-align: center;
    border-radius: 1.5rem;
    padding:5%;
    margin: auto;
}

.carousel-inner {
    width:80%;
    border-radius: 1.5rem;
    /* background: #0e0f02; */
    margin: auto;
}

#carousel-text {
    text-align: center;
    margin: auto;
}

.backimg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

/* .apirestful,
.mangaapp,
.dictionaryapp,
.movieapp {
    position: relative;
} */

.videos h4 {
    font-size: 1rem;
    width: 100%;
    left: 50%;
    font-family: "avocado";
    color: rgb(66, 66, 66)
    /* transform: translate(-50%, -10%);
    padding-top: 300px; */
}
.myStack {
    padding-top: 5vh;
    font-family: "orgonite";
    text-align: center;
    background: rgb(66, 66, 66);
    min-height: 10vh;
}

.stack {
    color: #f4e4e1;
}

.technologies {
    font-size: 1.25rem;
    line-height: 125%;
    font-family: "avocado";
    color: white;
}


@-webkit-keyframes grid-item {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes grid-item{
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  

.grid-item {
    width: 90px;
    height: 90px;
    text-align: center;
    margin: 10px;
    padding: 5px;
    -webkit-animation: grid-item 4s ease-in-out infinite ;
	        animation: grid-item 4s ease-in-out infinite ;
}

footer {
    text-align: center;
    background-color: #afa3a1;
    color: #1b1b1b;
    padding: 1.5%;
    font-family: "certhas";
    font-weight: lighter;
    font-size: 1.5rem;
}
/*RESUME SECTION */

/* Name and Links*/
.links-resume  {
    text-align: center;
    font-family: "avocado";
    background-color: #030303;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.379);
}

.contact {
    font-size: 1.2rem;
    text-decoration: none;
    color: whitesmoke;
    margin: 3%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.379);
}

.presentation {
    font-size: 2.5rem;
    text-align: center;
    padding:5%;
    font-family: "certhas";
    font-weight: lighter;
    color: #fffcfc;
}

/*My Stack */

.resume {
    text-align: center;
    margin-top: 2%;
    font-family: "avocado";
}

#heading {
  font-size: 1.5rem;
  padding: 10px;
}

.heading2 {
font-size: 1.2rem;
padding-bottom: 10px;
color: #020202;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.379);
}

/*Software Experience Section */

.story {
  color: #f9c197;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.379);
  font-size: 1.2rem;
}

.paragraph {
  padding-left: 300px;
  padding-right: 250px;
}

ul li {
    list-style: none;
}

.experience {
    font-size: 1.2rem;
    margin: 5px;
    margin-bottom: 10vh;
    padding: 20px;
}

#projectsexperience {
  font-size: 1.2rem;
  margin: 5px;
  padding: 20px;
  background-color: #afa3a1 ;
}

#projectsexperience li {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

#projectsexperience p {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-item {
  background-color: #F2F2F2;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  height: 80vh;
  flex: 1;
  text-align: center;
  border-radius: 5px;
}

/*Experience Section*/

.categories {
  color:#4d3a38;
  font-size: 2rem;
  line-height: 125%;
  padding:15px;
}

.row {
  display: flex;
  border-radius: 5px;
}

.column {
  flex: 1;
  padding: 10px;
}

 /*Education Section */

#education {
    font-size: 1.2rem;
    margin: 5px;
    padding: 20px;
}

.flex-item2 {
  background-color: #afa3a1;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  height: 40vh;
  flex: 1;
  text-align: center;
  border-radius: 5px;
}

h5 {
  padding: 10px;
}

@media screen and (max-width: 768px) {

  html {
    overflow-x: hidden;
  }

}

@media only screen and (min-width: 350px) and (max-width: 500px) {

    body {
        height: 100%;
        overflow-x: hidden;
    }

    .links {
        position: absolute;
        background: white;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%);
    }

    .profilepic{
        width:80%;
        /* -webkit-animation: profilepic 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: profilepic 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both; */
    }
    
    /* @-webkit-keyframes profilepic {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
      @keyframes profilepic {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
    } */
}

@media only screen and (min-width: 450px) and (max-width: 1000px) {

    body {
        height: 100%;
        overflow-x: hidden;
    }

    .links {
        position: absolute;
        background: white;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%);
    }
    
    .profilepic{
        width:80%;
        /* -webkit-animation: profilepic 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: profilepic 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both; */
    }
    
    /* @-webkit-keyframes profilepic {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
      @keyframes profilepic {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
    } */
}